* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

#canvas {
  display: block;
  position: absolute;
}

button {
  border-radius: 5px;
  padding: 8px 20px;
  color: #ffffff;
  display: inline-block;
  font: normal 24px/1 "Noto Sans", sans-serif;
  text-align: center;
  border-style: solid;
}

#clear {
  background: #ff0000;
}

#generate {
  background: rgb(90, 237, 222);
}
